[% META title = "Email" %]


<div id="heading" style="margin-left: 80px;">
    <h1>[% subject | html %]</h1>
    <h2>From: [% from | html %]<br/>Date: [% sentDate | html %]</h2>
</div>

<div class="email_body">

[% email_content %]

</div> <!-- end of page -->
