<html>
<body>
<p>Dear LaoFABers...</p>

<p>As many of you are aware, LaoFAB has been presided over by the &quot;Secretariat&quot; (aka Andrew Bartlett) since its establishment in November 2006.  Andrew has played a unique role which is rarely seen on other discussion groups.
</p><p>
Andrew has been able to create a sense of community which keeps on growing. With his insightful analysis, humor and self deprecation Andrew has been able to steer LaoFAB to what is has become today. 
</p><p>
Andrew will be leaving LEAP at the end of June and we thought it would be good to open a space for all Laofabbers to show their appreciation to the &quot;Secretariat&quot;.
</p><p>
If you are interested to participate, please go to: <a href="http://andrew.laofab.org/">http://andrew.laofab.org/</a>
</p><p>
Here we would like you to write down your thoughts and reflections on LaoFAB and Andrew&rsquo;s role in it. this could include:
<ul>
   <li>Your appreciation for Andrew&rsquo;s efforts</li>
   <li>How LaoFAB has assisted you in your work?</li>
   <li>What LaoFAB most means to you?</li>
   <li>Your most memorable moments on LaoFAB (and its bloopers)</li>
   <li>Any other comments or memories you would like to share</li>
</ul>
As always, please keep things funny, constructive and civil!
</p><p><strong>
PLEASE ALSO DO NOT SHARE WITH MR. BARTLETT OR ON LAOFAB!!! 
</strong></p><p><strong>
WE WOULD LIKE TO KEEP THIS AS A SURPRISE AND ANNOUNCE THIS ON LAOFAB ONCE WE HAVE A GOOD NUMBER OF INITIAL APPRECIATION MESSAGES! 
</strong></p><p>
</p>
<p>
--<br/>
The little LaoFAB helpers<br/>
Follow us on twitter: <a href="http://twitter.com/laofab">twitter.com/laofab</a></p>
</body>
</html>
