Hello LaoFAB User,

Your password was requested from the LaoFAB Document Repository web site.

Your password is: [% password %]

If it wasn't you that requested the password, please contact the secreteriat at
Leap@laoex.org with the following information:

The IP of the password recovery user: [% ip_address %]
The date/time the password was requested: [% date_now.ymd %] [% date_now.hms %]

Thanks!
--
Santa's little LaoFAB helpers
Follow us on twitter: http://twitter.com/laofab
