html {
	margin:0;
	padding:0;
}

body { 
	text-align: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
	background-color: #eee;
	color: #444;
}

div#page {
    width: 1300px;
    background-color: #fff;
    margin: 0 auto;
    text-align: left;
    border-color: #ddd;
    border-style: none solid solid;
    border-width: medium 1px 1px;
}

div#container {
    padding: 20px;
}

div#content {
	width: 1300px;
	background-color: #fff;
	margin: 0 auto;
	text-align: left;
	border-color: #ddd;
	border-style: none solid solid;
	border-width: medium 1px 1px;
}

#fixed {
    font-family: monospace;
}

.message {
    color: #66aa66;
}

.error {
    color: #cc4444;
     text-decoration:underline;
}
